@font-face {
    font-family: 'ZiYuYongSongTi';
    src: url('ZiYuYongSongTi.woff2') format('woff2'),
        url('ZiYuYongSongTi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

